################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesktopDuplication/.vs/DesktopDuplication/v15
/DesktopDuplication/Binaries/Win64
/DesktopDuplication/Build
/DesktopDuplication/Intermediate
/DesktopDuplication/Saved/Autosaves
/DesktopDuplication/Saved/Backup
/DesktopDuplication/Saved
/DesktopDuplication/Unreal Projects/DesktopDuplication/Saved/Profiling/UnrealStats/UEDPIE_0_NewMap-Windows-10.25-10.14.47
/DesktopDuplication/CloneFailures.log
